aiohttp
asyncio
threading
json
time
textwrap
tkinter
PIL
numpy
subprocess
opencv-python
azure.identity
azure.storage.blob
Pillow
torch
torchvision
tqdm
huggingface-hub
pytesseract
os.path
datetime
timedelta
google.auth.transport.requests
google.oauth2.credentials
google_auth_oauthlib.flow
googleapiclient.discovery
googleapiclient.errors
google.auth
dateutil
